
.navContainer {
  display: flex;
  justify-content: space-between;
  max-width: 1224px;
  margin: 0 auto;
}

.logo {
  width: 100px;
  height: 31px;
  margin: 16px 24px 16px 0;
  object-fit: contain;
}

.nav {
  width: 100%;
  justify-content: center;
}

.account {
  color: white;
}

.content {
  max-width: 1224px;
  width: 100%;
  min-height: 494px;
  margin: 0 auto;
  color: black;
}

.siteLayoutContent {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

